body{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: #3f4a57;
    
}


button{
    width: 500px;
    height: 250px;
    cursor: pointer;
    color: #000000;
    font-size: 17px;
    border-radius: 1rem;
}


button:active {
    transform:scale(0.9) rotate(3deg);
    background: radial-gradient( circle)
    farthest-corner at 10% 20%, rgba
    (255, 94, 247, 1) 17.8%, #02f5ff 100.2%;
    transition: 0.5s;
}